.page-layout {
	
}

.page-main-article {
	
}

.layout-inline {
	display: inline;
}

.required-field::after {
	color: red;
	content: "*";
	margin-left: 2px;
}

.column-filter {
	width: 1px;
}