.layout-inline {
	display: inline;
}

.required-field::after {
	color: red;
	content: "*";
	margin-left: 2px;
}

.column-filter {
	width: 1px;
}

.padding-5 {
	padding: 5px;
}

.bottom-0 {
	margin-bottom: 0px;
}

.bottom-5 {
	margin-bottom: 5px;
}

.dropdown {
	text-transform: none;
}